services:
  db_service:
    image: postgres:16
    env_file:
      - .env.compose
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pg-user -d pgdb"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  app:
    image: creativescript-lms:v1
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.compose
    ports:
      - "8002:8002"
    command: uvicorn main:app --host 0.0.0.0 --port 8002 --reload
    volumes:
      - ./src:/code:rw
    depends_on:
      db_service:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: Dockerfile
        - action: rebuild
          path: requirements.txt
        - action: rebuild
          path: compose.yaml
